@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/typography" as typ;

.about {
  @include mixin.flex(center, center, column);
  height: 100dvh;
  max-width: 100dvw;

  &__title {
    font-weight: typ.$font-weight--light;
    place-self: flex-start;
  }

  &__content {
    @include mixin.flex(center, center);
    column-gap: mixin.toRem(24px);
  }

  &__bio {
    @include mixin.flex(center, center, column);
    @include mixin.glass;
    gap: mixin.toRem(14px);
    flex: 0 0 23%;
    border-radius: mixin.toRem(12px);
    padding: mixin.toRem(14px);
  }

  &__bio-pic {
    width: 100%;
    height: auto;
    border-radius: mixin.toRem(12px);
  }

  &__bio-text {
    text-align: justify;
    word-break: normal;
    hyphens: auto;
  }

  &__skills {
    @include mixin.flex(flex-start, flex-start, column);
    flex: 0 0 74%;
    height: 100%;
    padding: mixin.toRem(14px);
    margin-top: mixin.toRem(64px);
  }
}
