@use "@assets/scss/mixins" as mixin;

.about {
  @include mixin.flex(center, center);
  padding: mixin.toRem(40px) mixin.toRem(40px) 0;
  column-gap: mixin.toRem(24px);
  height: 100dvh;
  max-width: 100dvw;

  &__bio {
    @include mixin.flex(center, center, column);
    @include mixin.glass;
    gap: mixin.toRem(14px);
    flex: 0 0 25%;
    border-radius: mixin.toRem(12px);
    padding: mixin.toRem(14px);
  }

  &__bio-pic {
    width: 100%;
    height: auto;
    border-radius: mixin.toRem(12px);
  }

  &__bio-text {
    text-align: justify;
    word-break: normal;
    hyphens: auto;
  }

  &__skills {
    @include mixin.flex(flex-start, flex-start, column);
    flex: 0 0 75%;
    height: 100%;
    padding: mixin.toRem(14px);
    margin-top: mixin.toRem(64px);
  }
}
