// Whites
$white-100: #ffffff;
$white-200: #dedfef;
$white-300: #cec8d8;

// Blacks
$black-100: #010404;

// Violets
$violet-100: #0d0a1a;
$violet-200: #1b1422;

// Purple
$purple-100: #a07aca;
$purple-200: #613096;
$purple-300: #483262;
$purple-400: #3d2774;

// Pinks
$pink-100: #f7c9e7;
$pink-200: #f094ce;
$pink-300: #e85eb6;
$pink-400: #d61f93;
$pink-500: #b21a7b;

$magenta-100: #8305ad;

// Yellows
$yellow-100: #f9e574;

// Reds
$red-100: #ff6b6b;
$red-200: #e64545;
$red-300: #c53030;