@use "./mixins" as mixin;

/****************************
*********** FONTS ***********
*****************************/

$font-primary: "General Sans", system-ui, Helvetica, sans-serif;

$font-size--xs: mixin.toRem(11px);
$font-size--sm: mixin.toRem(12px);
$font-size--base: mixin.toRem(14px);
$font-size--md: mixin.toRem(16px);
$font-size--lg: mixin.toRem(18px);

$font-size--h1: mixin.toRem(36px);
$font-size--h2: mixin.toRem(32px);
$font-size--h3: mixin.toRem(28px);
$font-size--h4: mixin.toRem(24px);
$font-size--h5: mixin.toRem(21px);
$font-size--h6: mixin.toRem(18px);

$font-size--app-title: mixin.toRem(20px);
$font-size--btn: mixin.toRem(16px);
$font-size--label: mixin.toRem(14px);
$font-size--tags: mixin.toRem(10px);

$font-weight--lighter: 200;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 900;

$line-height--normal: normal;
$line-height--default: 1.15;
