@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/colors" as color;
@use "@assets/scss/typography" as typ;

.landing {
  @include mixin.flex(center, center);
  gap: mixin.toRem(12px);
  height: 100dvh;
  width: 100%;
  padding: mixin.toRem(40px);

  &__actions-section {
    @include mixin.flex(center, flex-start, column);
    row-gap: mixin.toRem(40px);
    flex: 1 0 50%;
    height: 100%;
  }

  &__msg-container {
    @include mixin.flex(center, flex-start, column);
    gap: mixin.toRem(8px);
    margin-top: mixin.toRem(80px);
  }
  
  &__subtitle-msg {
    font-weight: typ.$font-weight--light;
    color: color.$white-300;
  }
  
  &__title-msg {
    color: color.$white-100;
    
    &--highlight {
      color: color.$yellow-100;
    }
  }
  
  &__actions {
    @include mixin.flex(space-between, center);
    column-gap: mixin.toRem(24px);
  }

  &__infographic-section {
    @include mixin.flex(center, center);
    flex: 1 0 50%;
    height: 100%;
  }

  &__infographic {
    max-width: 100%;
    height: auto;
  }
}
