@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/typography" as typ;

.contact {
  @include mixin.flex(center, stretch, column);

  height: 100dvh;
  width: 100%;

  &__title {
    font-weight: typ.$font-weight--light;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: mixin.toRem(24px);
  }

  &__form {
    @include mixin.flex(center, stretch, column);
    gap: mixin.toRem(16px);
  }
}
