@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/typography" as typ;
@use "@assets/scss/colors" as color;

.contact {
  @include mixin.flex(center, stretch, column);

  height: 100vh;
  width: 100%;
  padding: mixin.toRem(40px) 0;

  &__title {
    font-weight: typ.$font-weight--light;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: mixin.toRem(24px);
    flex: 1 0 auto;
  }

  &__connection-form {
    @include mixin.flex(center, stretch, column);
    gap: mixin.toRem(48px);
  }

  &__form-heading {
    color: color.$white-200;
  }

  &__form {
    @include mixin.flex(center, stretch, column);
    gap: mixin.toRem(16px);
  }

  &__form-input {
    width: 90%;
  }

  &__submit-btn {
    width: 40%;
    margin-top: mixin.toRem(24px);
    place-self: center;
    transform: translateX(-25%);
  }

  &__socials {
    @include mixin.flex(center, stretch, column);
    gap: mixin.toRem(48px);
  }

  &__socials-group {
    @include mixin.flex(center, stretch, column);
    gap: mixin.toRem(16px);
  }

  &__group-heading {
    color: color.$gray-100;
  }

  &__topmate-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: mixin.toRem(12px);
  }

  &__socials-links {
    @include mixin.flex(flex-start, center);
    gap: mixin.toRem(16px);
    flex-wrap: wrap;
  }

  &__socials-link-btn {
    padding: mixin.toRem(10px);
    border-radius: mixin.toRem(16px);
    color: color.$white-100;

    svg {
      @include mixin.icon-dimensions(28px);
    }

    &:hover {
      color: color.$yellow-100;

      svg {
        scale: 1.15;
      }
    }
  }
}
