@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/colors" as color;
@use "@assets/scss/typography" as typ;

.skills {
  padding: mixin.toRem(20px);
  scroll-padding: mixin.toRem(20px);
  border-radius: mixin.toRem(16px);
  border: 1px solid color.$gray-400;
  background-color: rgba($color: color.$violet-200, $alpha: 0.2);

  &__search {
    width: 40%;
    top: 0;
    padding: mixin.toRem(12px) mixin.toRem(16px);
    margin-bottom: mixin.toRem(20px);
    background: transparent;
    border-radius: mixin.toRem(20px);
    border: 1px solid color.$purple-100;
    font-size: typ.$font-size--base;

    &::placeholder {
      color: color.$gray-200;
    }
  }

  &__list-container {
    height: mixin.toRem(500px);
    overflow: scroll;
    border-radius: mixin.toRem(4px);
  }

  &__list {
    @include mixin.flex(flex-start, center);
    gap: mixin.toRem(20px);
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 auto;
    min-width: max-content;
  }
}
