@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/colors" as color;
@use "@assets/scss/typography" as typ;

.skills {
  @include mixin.flex(space-between, stretch, column);
  padding: mixin.toRem(20px);
  scroll-padding: mixin.toRem(20px);
  border-radius: mixin.toRem(16px);
  border: 1px solid color.$gray-400;
  background-color: rgba($color: color.$violet-200, $alpha: 0.2);

  &__actions {
    @include mixin.flex(flex-start, center);
  }

  &__search {
    width: 40%;
  }

  &__list-container {
    height: mixin.toRem(500px);
    overflow: scroll;
    border-radius: mixin.toRem(4px);
    scrollbar-width: none;
  }

  &__list {
    @include mixin.flex(flex-start, center);
    gap: mixin.toRem(20px);
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 auto;
    min-width: max-content;
  }
}
