@use "@assets/scss/mixins" as mixin;

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  overflow-y: auto;
  z-index: 0;

  &__content {
    @include mixin.flex(center, center, column);
    flex: 1 0 auto;
    z-index: 1;
  }
}
