@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/typography" as typ;
@use "@assets/scss/colors" as color;

.experience-card {
  --experience-card--min-width: #{mixin.toRem(380px)};

  @include mixin.glass;
  @include mixin.flex(flex-start, flex-start, column);
  gap: mixin.toRem(8px);
  min-width: var(--experience-card--min-width);
  height: fit-content;
  padding: mixin.toRem(18px);
  border-radius: mixin.toRem(16px);

  @include mixin.breakpoint-sm {
    --experience-card--min-width: 100%;
  }

  @include mixin.breakpoint-md {
    --experience-card--min-width: 100%;
  }

  &__role {
    font-size: typ.$font-size--base;
    font-weight: typ.$font-weight--medium;
    color: color.$white-200;
  }

  &__company {
    font-family: "PT Mono", monospace;
    font-size: typ.$font-size--md;
    font-weight: typ.$font-weight--bold;
    color: color.$yellow-200;
  }

  &__tenure {
    font-size: typ.$font-size--sm;
    color: color.$white-300;
  }

  &__description {
    @include mixin.flex(flex-start, flex-start, column);
    gap: 2px;
    max-height: mixin.toRem(120px);
    height: mixin.toRem(120px);
    padding-left: mixin.toRem(12px);
    margin: mixin.toRem(8px) 0;
    list-style: circle;
    scrollbar-width: none;
    overflow-y: auto;

    li {
      font-size: typ.$font-size--sm;
      color: color.$gray-100;
      line-height: 1.6;
    }
  }

  &__skills {
    @include mixin.flex(flex-start, center);
    gap: mixin.toRem(6px) mixin.toRem(8px);
    flex-wrap: wrap;
  }
}
