@use "@assets/scss/mixins" as mixin;

.tab-view {
  @include mixin.flex(normal, flex-start, column);
  row-gap: mixin.toRem(16px);
  width: 100%;
  height: 100%;

  &__header {
    @include mixin.glass;
    @include mixin.flex(flex-start, center);
    column-gap: mixin.toRem(3px);
    width: max-content;
    padding: mixin.toRem(3px);
    border-radius: mixin.toRem(16px);
  }

  &__content {
    width: 100%;
    border-radius: mixin.toRem(16px);
  }
}
