@use "@assets/scss/colors" as colors;
@use "@assets/scss/mixins" as mixin;
@use "@assets/scss/typography" as typ;

.chip {
  display: inline-block;
  padding: mixin.toRem(4px) mixin.toRem(10px);
  border-radius: mixin.toRem(12px);
  border: 1px solid transparent;
  background-image: linear-gradient(
      135deg,
      rgba(colors.$violet-200, 0.5) 35%,
      rgba(colors.$violet-100, 0.7)
    ),
    linear-gradient(135deg, colors.$purple-100, colors.$purple-200);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-size: mixin.toRem(12px);
  font-weight: typ.$font-weight--medium;
  color: colors.$white-100;
  white-space: nowrap;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(colors.$violet-200, 0.5);
    border-color: colors.$purple-100;
    cursor: default;
  }
}
