@use "@assets/scss/colors" as color;
@use "@assets/scss/typography" as typ;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-dark: #{color.$violet-100};
  --primary-light: #{color.$white-100};

  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  font-family: typ.$font-primary;
  line-height: 1.15;
  font-weight: typ.$font-weight--regular;

  color-scheme: light dark;
  color: color.$white-100;
  background-color: var(--primary-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: #{typ.$font-weight--medium};
  color: var(--accent-primary);
  cursor: pointer;
  text-decoration: inherit;
}
a:hover {
  color: color.$purple-200;
  text-decoration: underline;
  text-underline-offset: 2px;
}

body {
  margin: 0;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

#root,
#popper-container {
  position: relative;
}

h1 {
  font-size: typ.$font-size--h1;
  font-weight: typ.$font-weight--bold;
}

h2 {
  font-size: typ.$font-size--h2;
  font-weight: typ.$font-weight--bold;
}

h3 {
  font-size: typ.$font-size--h3;
  font-weight: typ.$font-weight--bold;
}

h4 {
  font-size: typ.$font-size--h4;
  font-weight: typ.$font-weight--medium;
}

h5 {
  font-size: typ.$font-size--h5;
  font-weight: typ.$font-weight--medium;
}

h6 {
  font-size: typ.$font-size--h6;
  font-weight: typ.$font-weight--medium;
}

ul,
ol {
  list-style: none;
}
