@use "@assets/scss/colors" as color;

.aurora-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  &__wave {
    position: absolute;
    top: 0%;
    left: 0%;
    background: radial-gradient(
      circle at center,
      color.$purple-300,
      transparent 60%
    );
    filter: blur(60px);
    opacity: 0.7;

    &#wave-1,
    &#wave-3,
    &#wave-5 {
      animation: wave-ltr 50s linear infinite;
    }

    &#wave-2,
    &#wave-4 {
      animation: wave-rtl 40s linear infinite;
    }

    &#wave-1 {
      left: -5%;
      top: 5%;
    }
    &#wave-2 {
      right: 5%;
      top: 10%;
    }
    &#wave-3 {
      left: 0;
      top: 50%;
    }
    &#wave-4 {
      right: 20%;
      top: 40%;
    }
    &#wave-5 {
      left: 10%;
      bottom: 5%;
    }
  }
}

@keyframes wave-ltr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(50%, 50%) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes wave-rtl {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-50%, 50%) scale(1.25);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
